@import "ui-variables";
@import "./variables.less";

// Border-style form-feeds
@{ff-border} @{ff-selector}::before{
	content: "";
	position: absolute;
	width: 100%;
	margin-top: .65em;
	border-top: 1px solid;
}

// Emacs-like `^L' notation
@{ff-caret} @{ff-selector}::before{
	content: "^L";
	width: 1em;
	color: #f00;
}
